
{{>header}}
{{>nav}}    
<div class="container">
    <form action="/addLogic" method="post">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Title</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Content</label>
    <input type="text" class="form-control" name="content">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Due date</label>
    <input type="date" class="form-control" name="dueDate">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" hidden >Status</label>
    <input type="text" class="form-control" name="status" value="false" hidden>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
    </div>

{{>footer}}
   