{{>header}}
{{>nav}}
    <section class="container my-3">
      <h3>Edit User</h3>
      <form id="editForm" class="my-4" action="/editLogicPost/{{user.id}}" method="post">
        <div class="mb-3">
          <input id="id" type="text" name="name" class="form-control" placeholder="Name" value="{{user.name}}"/>
        </div>
        <div class="mb-3">
          <input name="age" type="number" class="form-control" placeholder="age" value="{{user.age}}" />
        </div>
        <div class="mb-3">
          <input name="email" type="email" class="form-control" placeholder="Email" value="{{user.email}}" />
        </div>
  <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </section>
{{>footer}}
